.container-fluid {
   
}
.col {
    height: 100vh;
}
.row {

}
.email-folder-view-col {
  background-color: grey;


}
.email-view-col {
    background-color: grey;

}
.email-reply-view-col {
  background-color: gray;

}

