.container {
    background-color: blue;
}
.folder-view-color {
    background-color: aquamarine;
   

}
.emails-view-color {
    background-color: bisque;
  
}
.email-reply-view-color {
    background-color: blueviolet;
}